# ==========================================
# SQL SERVER - FUENTE TRANSACCIONAL
# ==========================================

SQLSERVER_HOST=sqlserver-source
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=VentasDB
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=CAMBIAR_PASSWORD


# ==========================================
# POSTGRESQL - DATA WAREHOUSE
# ==========================================

POSTGRES_HOST=postgres-warehouse
POSTGRES_PORT=5432
POSTGRES_DATABASE=warehouse
POSTGRES_USER=warehouse_user
POSTGRES_PASSWORD=CAMBIAR_PASSWORD