# ==========================================
# VARIABLES DE ENTORNO Y SECRETOS
# ==========================================

.env


# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]

.venv/
venv/


# ==========================================
# LOGS
# ==========================================

logs/
*.log


# ==========================================
# DATOS GENERADOS POR EL PIPELINE
# ==========================================

data/processed/
data/rejected/
data/temp/


# ==========================================
# DBT
# ==========================================

dbt/target/
dbt/logs/


# ==========================================
# AIRFLOW
# ==========================================

airflow/logs/


# ==========================================
# SISTEMA OPERATIVO
# ==========================================

.DS_Store
Thumbs.db